@import url('https://fonts.googleapis.com/css?family=Roboto');

/* Global Styles */
:root {
  --primary-color: #003699;
  --dark-color: #333333;
  --light-color: #f4f4f4;
  --danger-color: #dc3545;
  --success-color: #28a745;
}

a {
  text-decoration: none;
  color: #fff;
}

.navbar-header {
  color: #fff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #fff;
  color: #333;
}

button {
  margin-top: 10px;
  border: 1px #9b9b9b solid;
  border-radius: 20px;
  width: 140px;
  max-width: 100%;
  padding: 10px;
  outline: none;
  cursor: pointer;
}

.container {
  max-width: 1100px;
  overflow: hidden;
  padding: 0 2rem;
  margin: 3rem auto 3rem;
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

a:hover {
  color: #666;
}

li {
  list-style: none;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 7px 7px;
  z-index: 1;
  width: 100%;
  opacity: 0.9;
}

.navbar-list {
  display: flex;
  justify-content: flex-end;
}

a {
  color: #fff;
  font-size: 18px;
  padding: 0.45rem;
  margin: 0 0.25rem;
}

.navbar a:hover {
  color: var(--light-color);
}

.navbar .welcome span {
  margin-right: 0.6rem;
}

.wfm-active {
  border: 1px solid #28a745;
  color: #28a745;
}

.alert {
  padding: 0.7rem;
  margin: 1rem 0;
  opacity: 0.9;
  background: var(--light-color);
  color: #333;
}

.btn-primary,
.bg-primary,
.badge-primary,
.alert-primary {
  background: var(--primary-color);
  color: #fff;
}

.btn-light,
.bg-light,
.badge-light,
.alert-light {
  background: var(--light-color);
  color: #333;
}

.btn-dark,
.bg-dark,
.badge-dark,
.alert-dark {
  background: var(--dark-color);
  color: #fff;
}

.btn-danger,
.bg-danger,
.badge-danger,
.alert-danger {
  background: var(--danger-color);
  color: #fff;
}

.btn-success,
.bg-success,
.badge-success,
.alert-success {
  background: var(--success-color);
  color: #fff;
}

.btn-white,
.bg-white,
.badge-white,
.alert-white {
  background: #fff;
  color: #333;
  border: #ccc solid 1px;
}

.btn:hover {
  opacity: 0.8;
}

.x-large {
  margin-top: 20px;
  font-family: 'Roboto', sans-serif;
  font-size: 4rem;
  line-height: 1.2;
  margin-bottom: 1rem;
  color: #000;
}

.large {
  font-family: 'Roboto', sans-serif;
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

@import './home.scss';
@import './post.scss';
@import './posts.scss';
@import './comments.scss';
